.default-container
  = render './header.html.haml'
  - breadcrumb :logout
  = render './bread_crumb'
.l-container-clearfix
  .l-content
    .l-single-inner
      .l-single-content
        = link_to destroy_user_session_path, method: :delete do
          .btn-default.btn-red
            ログアウト

  = render 'l-side.html.haml'


= render './footer.html.haml'

