.default-container

  = render './header.html.haml'

  - breadcrumb :mypage
  = render "./bread_crumb"

.l-container-clearfix
  .right-content
    .mypage-user-icon
      %a
        %figure
          %img{alt: "", height: "60", src: "", width: "60"}
        %h2.bold
          xxxxxxxxxxxxxxxxxxxxxxxxxxx
        .mypage-number
          評価
          %span.bold
            363
          出品数
          %span.bold
            339
    .mypage-tab-container-notification-todo
      %ul.mypage-tabs
        %li
          %h3.ChangeElem_Btn.is-active
            %a{"data-toggle" => "tab"}
              お知らせ

        %li
          %h3.ChangeElem_Btn
            %a{"data-toggle" => "tab"}
              やることリスト

      .tab-content
        %ul#mypage-tab-notification.mypage-item-list
          %li.ChangeElem_Panel
            %a.mypage-item-link
              %figure
                = image_tag "grey_mercari_icon.png",:size => "48x48"
              .mypage-item-body
                .mypage-item-text
                  【機能のご紹介】「いつもの説明」を簡単入力 ！テンプレート機能をぜひお試しください
                  %time
                    = fa_icon ("clock"),class: 'icon'
                    %span ３日前
                  = fa_icon ("angle-right"),class: 'icon'
          %li.ChangeElem_Panel
            %a.mypage-item-link
              %figure
                = image_tag "grey_mercari_icon.png",:size => "48x48"
              %div.mypage-item-body
                %div.mypage-item-text
                  事務局から個別メッセージ
                  %br
                  %time
                    = fa_icon ("clock"),class: 'icon'
                    %span ３日前
                  = fa_icon ("angle-right"),class: 'icon'
          %li.ChangeElem_Panel
            %a.mypage-item-link
              %figure
                = image_tag "grey_mercari_icon.png",:size => "48x48"
              .mypage-item-body
                .mypage-item-text
                  事務局から個別メッセージ
                  %br
                  %time
                    = fa_icon ("clock"),class: 'icon'
                    %span ３日前
                  = fa_icon ("angle-right"),class: 'icon'
          %li.ChangeElem_Panel
            %a.mypage-item-link
              %figure
                = image_tag "grey_mercari_icon.png",:size => "48x48"
              .mypage-item-body
                .mypage-item-text
                  事務局から個別メッセージ
                  %br
                  %time
                    = fa_icon ("clock"),class: 'icon'
                    %span ３日前
                  = fa_icon ("angle-right"),class: 'icon'
          %li.ChangeElem_Panel
            %a.mypage-item-link
              %figure
                = image_tag "grey_mercari_icon.png",:size => "48x48"
              .mypage-item-body
                .mypage-item-text
                  事務局から個別メッセージ
                  %br
                  %time
                    = fa_icon ("clock"),class: 'icon'
                    %span ３日前
                  = fa_icon ("angle-right"),class: 'icon'
          %li.mypage-go-list
            %a
              一覧を見る
        %ul#mypage-tab-notification.mypage-item-list.todo-content
          %li.ChangeElem_Panel
            %h4
              現在やることリストはありません




  %section.mypage-tab-container
    %h2.mypage-tab-head
      購入した商品
    %ul.mypage-tabs
      %li
        %h3.ChangeElem_Btn_two.is-active
          %a
            取引中
      %li
        %h3.ChangeElem_Btn_two
          %a
            過去の取引


    %div.tab-content
      %ul.mypage-item-list-two.negotiation
        %li.mypage-item-not-found
          %h3
            取引中の商品がありません
      %ul.mypage-item-list-two.old
        %li.mypage-item-old
          %figure
            = image_tag "glasses.jpg",:size => "48x48"
          .mypage-item-body
            .mypage-item-text
              %span
                「Afternoon Tea Living♥ペアグラス」を購入しました。取引が完了しました
              = fa_icon ("angle-right"),class: 'icon'
            .bold
              取引完了

        %li.mypage-item-old
          %figure
            = image_tag "bath.jpg",:size => "48x48"
          .mypage-item-body
            .mypage-item-text
              %span
                「入浴剤」を購入しました。取引が完了しました
              = fa_icon ("angle-right"),class: 'icon'
            .bold
              取引完了
  = render 'l-side.html.haml'
= render './footer.html.haml'
