.single-container
  = render partial: './subheader'
  %main.single-main
    %section.single-main__l-single-container
      %h2.single-main__l-single-container__l-single-head 新規会員登録
      .single-main__l-single-container__l-single-inner
        .l-single-content
          = link_to "/users/sign_up", class: "btn-default btn-mail" do
            %i.far.fa-envelope
            %span.registration_mail メールアドレスで登録
          %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
            %i.fab.fa-facebook
            = link_to "Facebookで登録", user_facebook_omniauth_authorize_path
          %button#google-login.btn-default.btn-sns.btn-sns-google
            %i.fab.fa-google-plus-g
            = link_to "Googleで登録", user_google_oauth2_omniauth_authorize_path
  = render partial: './subfooter'
