.single-container
  = render partial: "/subheader"
  .single-main
    %section.l-single-container.buy-item-container
      #sell-container
        .sell-container-inner
          %h2.l-single-head 商品の情報を入力
          - if @item.errors.any?
            - @item.errors.full_messages.each do |message|
              .error_messages= message
          = form_for @item, html:{class: 'sell-form'} do |f|
            .sell-upload-box
              %h3.sell-upload-head 出品画像
              %span.form-require 必須
              %p 最大４枚までアップロードできます
              .sell-dropbox-container
                .sell-upload-items
                  %ul
                    = f.fields_for :item_images, class: "sell-upload-drop-file", style: "none" do |image|
                      = f.label :item_image_src do
                        %li.sell-upload-drop-box.preview
                          = image.file_field :item_image_src, style: "none", class: "hidden_image_input"
            .sell-content
              .form-group
                = f.label :item_name, "商品名", class: 'form-label'
                %span.form-require 必須
                = f.text_field :item_name, class: 'input-default', placeholder: "商品名（必須 ４０字まで）"
              .form-group#product
                = f.label :detail, "商品の説明", class: 'form-label'
                %span.form-require 必須
                = f.text_area :detail, class: 'textarea-default', placeholder: "商品の説明（必須１０００字以内）（色、素材、重さ、定価、注意点など）"

            .sell-content
              %h3.sell-sub-head 商品の詳細
              .sell-form-box
                .form-group
                  = f.label :categories, "カテゴリー", class: 'form-label'
                  %span.form-require 必須
                .select_category
                  %select{ name: "item[category_ids][]", class: "select-default", id: "category" }
                    %option{ value: "" } ---
                    = Category.where(parent_id: 0).each do |category|
                      %option{ value: "#{category.id}" }
                        = category.category_name
              .sell-form-box.hidden1
                .select_category#add-category2
              .sell-form-box.hidden2
                .select_category#add-category3
              .sell-form-box.hidden3
                .form-group.size
                  = f.label :sizes, "サイズ", class: 'form-label'
                  %span.form-require 必須
                .select-wrap
                  = f.collection_select(:size_ids, Size.all, :id, :size_name, {}, { class: "select-default", name: "item[size_ids][]" })
              .sell-form-box.hidden4
                .form-group
                  = f.label :brands, "ブランド", class: 'form-label'
                  %span.form-free 任意
                %input.input-default#brand
                #add-brands-list
                = f.hidden_field :brands, name: "item[brand_ids][]", id: "brand-hidden", value: ""
              .sell-form-box.item-quality
                .form-group
                  = f.label :quality, "商品の状態", class: 'form-label'
                  %span.form-require 必須
                .select-wrap
                  = f.select :quality, [["----", "----"],["新品", "新品"], ["やや汚い", "やや汚い"],["悪い", "悪い"]],{},{class: "select-default"}

            .sell-content
              %h3.sell-sub-head 配送について
              = link_to "?", root_path, class: "question-color"
              .sell-form-box
                .form-group
                  = f.label :ship_burden, "配送料の負担", class: 'form-label'
                  %span.form-require 必須
                .select-wrap
                  = f.select :ship_burden, [["----", "----"],["送料込み", "送料込み"], ["着払い", "着払い"]],{},{class: "select-default", id: "cost"}
              .sell-form-box.hidden5
                .form-group
                  = f.label :ship_method, "配送の方法", class: 'form-label'
                  %span.form-require 必須
                .select-wrap
                  = f.select :ship_method, [["----", "----"],["らくらくメルカリ便", "らくらくメルカリ便"], ["ゆうメール", "ゆうメール"]],{},{class: "select-default"}
              .sell-form-box
                .form-group
                  = f.label :prefecture_id, "配送元の地域", class: 'form-label'
                  %span.form-require 必須
                .select-wrap
                  = f.collection_select(:prefecture_id, Prefecture.all, :id, :prefecture_name, {prompt: "---"}, { class: "select-default" })
              .sell-form-box
                .form-group
                  = f.label :ship_date, "発送までの日数", class: 'form-label'
                  %span.form-require 必須
                .select-wrap
                  = f.select :ship_date, [["----", "----"],["1~2日", "1~2日"], ["4~7日", "4~7日"]],{},{class: "select-default"}


            .sell-content
              %h3.sell-sub-head 販売価格(300~9,999,999)
              = link_to "?", root_path, class: "question-color"
              .sell-form-box
                %ul.sell-price
                  %li.form-group
                    = f.label :price, "価格", class: 'l-left'
                    %span.form-require 必須
                    = f.text_field :price, class: 'input-default', id: "amount", placeholder: "例）300"
                    .l-right
                      .sell-price-input ¥
                  %li.commission
                    .l-left 販売手数料（10％）
                    .l-right#commission  -
                  %li.profit
                    .l-left 販売利益
                    .l-right#sales-profit -


            .sell-content.sell-btn-box
              %p
                = link_to "禁止されている出品", root_path, class: "link-color"
                、
                = link_to "行為", root_path, class: "link-color"
                を必ずご確認ください。
              %p
                またブランド品でシリアルナンバー等がある場合はご記載ください。
                = link_to "偽ブランドの販売", root_path, class: "link-color"
                は犯罪であり処罰される可能性があります。
              %p
                また、出品をもちまして
                = link_to "加盟店規約", root_path, class: "link-color"
                に同意したことになります。

              = f.submit '出品する', class: 'btn-default btn-red'
              = link_to "もどる", root_path, class: "btn-default btn-gray"


  .single-footer
    = render partial: "/subfooter"
