.container
  = render './header.html.haml'
  - breadcrumb :category_list, @category
  = render './bread_crumb'


  .main-container
    .main-container_full-width
      .categories-items-box-container
        %h1.items-box-head
          = @category.category_name + "の商品一覧"
        .category-brand-list
          .item-boxes
            .category-item-box
              - @items.each do |item|
                = link_to item_path(item) do
                  - unless item.status == "listing"
                    .sold-text SOLD
                    .sold-box
                  = image_tag "#{item.item_images[0].item_image_src}", size: "220x220"
                  .item-box-content
                    %h4.item-box-content__name #{item.item_name}
                    .item-info
                      .price-box
                        %p.price-box__price
                          = item.price.to_s(:currency, unit: "¥", precision: 0)
                        %p.price-box__tax (税込)
                      .likes-box
                        %i{ class: "far fa-heart" }
                        %span 10

        .item-paginate
          = paginate @items



= render './footer.html.haml'
