%footer.single-footer
  %nav
    %ul.single-footer__lists.clearfix
      %li.single-footer__lists__a-list
        = link_to 'プライバシーポリシー',  "https://www.mercari.com/jp/privacy/", class: "link-style"
      %li.single-footer__lists__a-list
        = link_to 'メルカリ利用規約', "https://www.mercari.com/jp/tos/", class: "link-style"
      %li.single-footer__lists__a-list
        = link_to '特定商取引に関する表記', "https://www.mercari.com/jp/tokutei/", class: "link-style"
  = link_to "http://13.230.105.155/", class: "single-footer-logo" do
    = image_tag "mercari_footer.svg"
  %p
    %small © 2018 Mercari
